<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gilles.g_hw_sl_pv_9200">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity"></activity>
        <activity android:name=".Activities.KalenderActivity" />
        <activity android:name=".Activities.LoginLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.KostToevoegen" />
        <activity android:name=".Fragments.ChatFragment" />
        <activity
            android:name=".Activities.KindProfielActivity"
            android:label="@string/title_activity_info_kind"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GezinActivity"
            android:label="GezinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.OuderProfielActivity" />
        <activity
            android:name=".Activities.Messenger_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.KostOverzichtScherm"
            android:label="GezinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MaandAfrekeningActivity"
            android:label="@string/title_activity_maand_afrekening"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>