/** {
  font-family: "fontAwesome", sans-serif;
}*/

#kalenderCardHeader {
  font-size: 130%;
}

.alert-custom {
  color: #99004d;
  background-color: #f169b4;
  border-color: #800040;
}

.activeGezin {
    border: 3px solid dodgerblue;
}

#gezinnen ul li {
  padding: 0%;
  list-style: none;
  cursor: pointer;
  background-color: lightgray;
  opacity: 0.8;
  color: black;
  margin: 1%;
  font-size: 125%;
  padding-left: 10%;
}

#gezinnen ul li:hover {
    opacity: 0.5;
}

#kalenderWeergaveKnop button {
  font-size: 125%;  
}

.persoon {
  padding-left: 10%;
  margin-bottom: 2%;
  cursor: pointer;
  color: white;
  font-size: 125%;
}

.persoon:hover {
    opacity: 0.5;
}

#kalenderButtons {
  margin-top: 1%;
  margin-bottom: 1%;
 
}

#kalenderButtons .btn {
  font-size: 125%;
}

#kalenderHeaderText {
  font-size: 125%;
}

#yoooo {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}
